<style>
*{
    font-family: sans-serif;
    font-size: 12px;
    color: #798e94;
}
body{
    width: 800px;
    margin: auto;
    background-color: #E2ECEE;
}
.search_form{
    border: 1px solid #CED5D7;
    border-radius: 6px;
    padding: 45px 45px 20px;
    margin-top: 50px;
    background-color: white;
    box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
}
.search_form label{
    display: block;
    font-weight: bold;
    margin-right: 7px;
}
.search_form div{
    margin-bottom: 15px;
}
.search_form input[type='submit']{
    border: 1px solid #CED5D7;
    box-shadow:0 0 0 3px #EEF5F7;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 0px white;
 
    background: #e4f1f6;
    background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%);
}
.search_form input[type='submit']:hover{
    background: #edfcff;
    background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%);
}
.search_form input[type='submit']:active{
    background: #cfe6ef;
    background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
    background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
}
</style>

<form action="/query/search" method="post" class="search_form">
    <div>{% csrf_token %} {{ form }}</div>
    <br>
    <input type="submit" value="Submit"/>
</form>

